* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* background-color: aqua; */
}