* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    /* background-color: aqua; */
}

.longterm {
    background-color: aqua;
}

.shortterm {
    background-color: blue;
}

.thoughts {
    background-color: green;
}

.completed {
    background-color: yellow;
}
